.header {
    background-color: rgb(255, 232, 236);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header .logo {
    height: 10em;
    flex-shrink: 0;
}


nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: space-evenly;
}

nav ul li {
    margin: 0 50px;
    flex-grow: 1;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px;
}

nav ul li a:hover, nav ul li a:focus {
    color: #ff3366;
    outline: none;
    border-bottom: 2px solid #ff3366;
}

.menu-icon {
    display: none;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 10px;
    }

    .header .logo {
        height: 5em;
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        z-index: 100;
    }

    nav {
        position: absolute;
        background-color: rgb(255, 232, 236);
        width: 100%;
        top: 15%;
        left: 0;
        flex-direction: column;
        display: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 99;
    }

    nav.open {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        text-align: center;
        padding: 10px 0;
    }

    nav ul li a {
        padding: 8px;
    }
}